# <big>**Day 1**</big>

# Questions
# What is lambda function
# Why we use it
# Difference between normal function and lambda function


# Write a lambda function and take 2 parameters as numbers and return the average of it

In [ ]:
avg = lambda a,b: (a+b)/2
avg(3,6)

4.5

In [ ]:
(lambda a,b: (a+b)/2)(3,6)

4.5

# Lambda function to take one number input and return half of even number or odd number as it is

In [ ]:
# if n%2==0:
#     return n/2
# else
# return n

(lambda n: n/2 if n%2==0 else n)(41)

41

# Types of parameter
# Positional parameters
# Keyword (Named) parameter

In [ ]:
# @title Positional parameter
def get_sum(a,b):
    return a+b

get_sum(10,20)

30

In [ ]:
# @title Named parameter
def get_sum(a,b):
    return a+b

get_sum(a=10,b=20)

30

In [ ]:
def get_sum(a=10,b=20): # Set default values
    return a+b

get_sum(a=100), get_sum(b=100),get_sum(b=1,a=2)

(120, 110, 3)

In [ ]:
def operate(a,b,op="+"):
    if op == "+":
        print(f"{a} + {b} = {a+b}")
    elif op == "-":
        print(f"{a} - {b} = {a-b}")

operate(10,20)
operate(10,20,"-")

10 + 20 = 30
10 - 20 = -10

In [ ]:
# def operate(op="+",a,b):    # it will show error all non default parameters should be 1st and then all default parameters should be there
def operate(a,b,op="+"):
    if op == "+":
        print(f"{a} + {b} = {a+b}")
    elif op == "-":
        print(f"{a} - {b} = {a-b}")


operate(10,20)

10 + 20 = 30

In [ ]:
# @title overwriting print keyword
# print = 10
# print(print)  # print is now integer not a print statement
# print

In [ ]:
def get_sum(*nums):
    print(nums, type(nums))

get_sum(1)
get_sum(1,2)
get_sum(1,2,3)
get_sum(1,2,3,4)
get_sum(1,2,3,4,5)

(1,) <class 'tuple'>
(1, 2) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [ ]:
def get_sum(*args):         # instead of nums we will use args it is a standard variable in python
    print(args, type(args))
    s = 0
    for n in args:
        s += n
    print("Sum = ",s)

get_sum(1)
get_sum(1,2)
get_sum(1,2,3)
get_sum(1,2,3,4)
get_sum(1,2,3,4,5)

(1,) <class 'tuple'>
Sum =  1
(1, 2) <class 'tuple'>
Sum =  3
(1, 2, 3) <class 'tuple'>
Sum =  6
(1, 2, 3, 4) <class 'tuple'>
Sum =  10
(1, 2, 3, 4, 5) <class 'tuple'>
Sum =  15

In [ ]:
def get_sum(*args,op=""):   # We have set op to default
    print(args, type(args))
    s = 0
    for n in args:
        s += n
    print("Sum = ",s)
    print("op =",op)

get_sum(1)
get_sum(1,2)
get_sum(1,2,3,op="+")

(1,) <class 'tuple'>
Sum =  1
op =
(1, 2) <class 'tuple'>
Sum =  3
op =
(1, 2, 3) <class 'tuple'>
Sum =  6
op = +

In [ ]:
def get_sum(op,*args):
    print(args, type(args))
    s = 0
    for n in args:
        s += n
    print("Sum = ",s)
    print("op =",op)

get_sum(1)
get_sum(1,2)
get_sum("+",1,2,3)

() <class 'tuple'>
Sum =  0
op = 1
(2,) <class 'tuple'>
Sum =  2
op = 1
(1, 2, 3) <class 'tuple'>
Sum =  6
op = +

In [ ]:
# def fun(a,b,*args,op="+")

def info(f_name="",l_name="",address=""):
    print(f_name)
    print(l_name)
    print(address)

info("Jain","Doe","USA")

Jain
Doe
USA

In [ ]:
def info(**data):     # * it converts data type into tuple and ** it converts data type into dictionary
    print(type(data))
    print(data)

info(f_name="Jain",l_name="Doe",address="USA")

<class 'dict'>
{'f_name': 'Jain', 'l_name': 'Doe', 'address': 'USA'}

## positional_args, *args, named_args, **kwargs

# <big>**Home Work**</big>
## What is the use of this "/"
## Experiment wth o and 1 keys and true or false as a key

# Upacking and merging

In [ ]:
# @title unpacking
nums1 = [1,2,3]
nums2 = [10,20,30]

a,b = nums1
print(a)
print(b)
# print(c)

ValueError: too many values to unpack (expected 2)

In [ ]:
# @title unpacking
nums1 = {1:1,2:4}   # Splitting = unpacking

a,b = nums1
print(a)
print(b)

1
2

In [ ]:
# @title Merging
nums1 = [1,2,3]
nums2 = [10,20,30]
nums = [*nums1,*nums2]
print(nums)

[1, 2, 3, 10, 20, 30]

# Some Links
https://docs.google.com/document/d/1ar8-h2hBcjXkA7ijQa9MpQ1lmGFmBnSbX4CsFIUl2Xo/edit?tab=t.0

https://placement.boosterleap.com

In [ ]:
# @title Generators
# for i in range(1000000):
#     print(i)

g = range(10000)
print(type(g),g)

<class 'range'> range(0, 10000)

In [ ]:
for i in range(1,5,0.5):
    print(i)        # for dealing with float will use yield

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
def gen():
    yield(5)
    yield(10)

g = gen()
print(g,type(g))
print(next(g))
print(next(g))
# print(gen())
# print(gen())

<generator object gen at 0x7ad7de321fe0> <class 'generator'>
5
10

In [ ]:
def gen():
    for i in range(100):
        yield(i)

g = gen()
print(g,type(g))
print(next(g))
print(next(g))

<generator object gen at 0x7ad7de309cc0> <class 'generator'>
0
1

In [ ]:
def myrange(start,end,step):
    i = start
    while True:
        if i<end:
            yield(i)
        else:
            break
        i += step

g = myrange(1,5,0.5)
print(next(g),next(g),next(g),next(g),next(g),next(g),next(g),next(g))
print(type(g))
# next(g)   this will give error because range is till 5 not 5 this will print 5 so it will show error

1 1.5 2.0 2.5 3.0 3.5 4.0 4.5
<class 'generator'>

In [ ]:
def myrange(start,end,step):
    i = start
    while False:
        if i<end:
            yield(i)    # if yield is added anywhere in the code then it's type will be generator
        else:
            break
        i += step

g = myrange(1,5,0.5)
# print(next(g),next(g),next(g),next(g),next(g),next(g),next(g),next(g))
print(type(g))
# next(g)   this will give error because range is till 5 not 5 this will print 5 so it will show error

<class 'generator'>

In [ ]:
def myrange(start,end,step):
    i = start
    while True:
        if i<end:
            yield(i)
        else:
            break
        i += step

for n in myrange(1,5,0.5):
    print(n)

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [ ]:
# @title Iterators
nums = [10,20,30,40,50]
for n in nums:
    print(n,end=" ")

10 20 30 40 50

# Generate 5 random numbers between 10 and 25

In [ ]:
from random import random,randint,uniform

for i in range(5):
    print(random(), randint(10,25),uniform(10,25))
    print(randint(10,24),random())
    print(10+15*random(),"\n")

0.33679805974861043 13 12.8325162172782
10 0.5075798404497922
18.62775650299556

0.2271201932211503 23 19.18318863947333
23 0.17441651509272083
14.769118416702764

0.9528627127173256 15 22.209600743962138
18 0.4323051560247998
18.19709783992679

0.5650745490773101 13 10.290152745159208
16 0.7504901713032288
10.53857311108996

0.9243205024777764 20 19.353489977282315
13 0.5812472186483131
12.880448919421568

# Custom iterator

In [ ]:
# Generate (count) number of random values between low and high

class MyIterator:
    def __init__(self, low, high, count):
        self.low = low
        self.high = high
        self.count = count
        self.counter = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.counter < self.count:
            self.counter += 1
            return self.low + (self.high - self.low) * random()
        else:
            raise StopIteration

for n in MyIterator(10,25,5):
    print(n)

23.490664754218564
18.08618695270642
16.16389563702587
15.5523058566548
18.179947079856998

# Functional Programming

In [ ]:
nums = [1,2,3,4,5]

sq = []
for n in nums:
    sq.append(n**2)

sq2 = [n**2 for n in nums]  # List comprehension # It is a list that's why list comprehension

print(nums,sq,sq2)

[1, 2, 3, 4, 5] [1, 4, 9, 16, 25] [1, 4, 9, 16, 25]

In [ ]:
nums = [1,2,3,4,5]
# def square(n):
#     return n**2
# m = list(map(square,nums))

m = list(map(lambda n:n**2,nums))
print(m,type(m))

[1, 4, 9, 16, 25] <class 'list'>

In [ ]:
# @title Filter
nums = [1,2,3,4,5,6,7,8,9,10]
odds = [n for n in nums if n%2!=0]
print(nums, odds)

f = list(filter(lambda n: n%2!=0,nums))
print(f, type(f))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [1, 3, 5, 7, 9]
[1, 3, 5, 7, 9] <class 'list'>